fastapi
uvicorn
sqlalchemy
pydantic_settings
google-genai
httpx
aiogram
gunicorn
aiohttp_socks
psycopg2-binary
httpx[socks]
socksio>=1.0.0
beautifulsoup4
requests
lxml
playwright
loguru
pymupdf
python-docx
python-pptx
