fastapi
uvicorn
sqlalchemy
pydantic_settings
httpx
aiogram
gunicorn
psycopg2-binary
beautifulsoup4
requests
lxml
playwright
selenium
loguru
pymupdf
python-docx
python-pptx
google-genai
aiohttp_socks
httpx[socks]
rapidfuzz
sentence_transformers
socksio>=1.0.0
